@import url('https://fonts.googleapis.com/css?family=Fjalla+One|PT+Sans|Roboto&display=swap');

html {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #202020;
}

h1, h2 {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0px;
    background-color: #313131;
    color: white;
    width: 100%;
}

a {
    text-decoration: underline;
    color: white;
}

img {
    display: block;
    width: 300px;
    border-radius: 16px;
}

img + h2 {
    margin-top: 8px;
}

body > * {
    padding-left: 16px;
    padding-right: 16px;
}

header {
    background: #313131;
    color: white;
    padding-left: 0;
}

h1#headingMargin {
    margin: 0px;
    padding: 16px;
    z-index: 10;
}

h2 {
    background: #525252;
    color: white;
    padding: 8px 16px;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.315) 0 2px 2px;
}

ol {
    margin-left: 16px;
}

ul {
    margin-left: 16px;
}

ul li {
    margin: 4px auto;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    padding: 0;
    background: #313131;
    text-decoration: underline;
}

footer a {
    display: block;
    justify-content: center;
    width: 50%;
    text-align: center;
    border-top: 10px solid #525252;
    box-shadow: inset rgba(0, 0, 0, 0.24) 0 2px 2px;
    padding: 16px 0;
    text-decoration: none;
    color: white;
}

div#contents {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

div#contents a {
    margin: 8px;
    width: 80%;
    text-decoration-line: none;
    padding: 8px;
    background-color: #202020;
    border-radius: 5px;
    text-align: center;
}

.button-dark {
    text-decoration: none;
    text-align: center;
    background-color: #313131d0;
    color:rgba(255, 255, 255, 0.9) !important;
    margin: auto;
    margin-top: 8px;
    display: block;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: 100ms;
}

.button-dark:active {
    background-color: 313131;
}

@media only screen and (max-width: 480px) {
    img {
        padding: 0;
        width: 80%;
        margin: 0 auto;
    }
    
}

@media only screen and (min-width: 481px) {
    body {
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;
        box-shadow: rgba(0, 0, 0, 0.192) 0 0 5px 5px;
        
    }
}

